body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 9pt;
	width: 82em;
}

h1 {
	margin: 0;
	padding: 0 0.25em;
	border-bottom: 2px solid black;
}

a, a.visited {
	color: blue;
	text-decoration: none;
}

#loginform {
	margin: 2em auto;
	padding: 1em 1.25em;
	width: 15em;
	border-radius: 5px;
}

#loginform select {
	display: block;
	width: 9em;
	margin-bottom: 1em;
}

#loginform input[type=submit] {
	display: block;
	border-radius: 5px;
}

#movielist {
	width: 56em;
	margin-top: 0.5em;
	table-layout: fixed;
	border-collapse: collapse;
	border: 2px black solid;
}

#movielist caption {
	font-size: 120%;
	padding: 0.25em;
	font-weight: bold;
}

#movielist th {
	border: 1px black solid;
}

#movielist tbody tr:hover {
	background-color: yellow;
}

#movielist td:first-child {
	text-align: center;
}

#movielist #rating-column {
	width: 11em;
}

#movielist #movie-name-column {
	width: 45em;
}

#movielist img {
	/* Get re-displayed via JS. */
	display: none;
}

#movielist input {
	/* Get hidden via JS. */
	margin: 0 0 0 2px;
	padding: 0;
}

#movielist .not-interested-button {
	margin-left: 0.25em;
	margin-right: 0.25em;
}

#movielist .remove-button {
	margin-left: 0.25em;
}

#pager {
	/* Gets re-displayed via JS. */
	display: none;
	margin: 0.25em 0;
}

#page-numbers a, #page-numbers span {
	padding: 0 0.25em;
}

#page-numbers span {
	font-weight: bold;
}

#movie-details {
	position: fixed;
	top: 5.75em;
	left: 57.5em;
	width: 25em;
	height: 43.25em;
	border: none;
	overflow: auto;
}

#form-buttons {
	position: fixed;
	top: 49.5em;
	left: 57.5em;
	width: 25.25em;
	margin: 0;
}

#exit-button {
	width: 4em;
	float: left;
	border-width: 4px;
	border-color: red;
	border-radius: 5px;
}

#save-button {
	width: 4em;
	float: right;
	border-width: 4px;
	border-color: green;
	border-radius: 5px;
}

dl.tabular {
	width: 100%;
	overflow: hidden;
}

dl.tabular dt {
	float: left;
	clear: left;
	display: block;
	width: 5em;
	font-weight: bold;
	text-align: right;
}

dl.tabular dd {
	float: left;
	margin-left: 0.5em;
}
