body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 9pt;
}

h1 {
	margin: 0;
	padding: .25em 0 0 .25em;
}

hr {
	border-style: solid;
}

a, a.visited {
	color: blue;
	text-decoration: none;
}

#loginform {
	margin: 0 auto;
	width: 10em;
	text-align: center;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	border: 1px black solid;
}

th {
	border: 1px black solid;
}

tbody tr:hover {
	background-color: yellow;
}

table input {
	display: none;
}

#page-numbers a, #page-numbers span {
	padding: 0 0.25em;
}

#page-numbers span {
	font-weight: bold;
}
