* {
	font-family: 'Droid Sans', arial, serif;
}

body {
	font-size: 10.5pt;
	width: 70.5em;
	float: right;
}

h1 {
	margin: 0;
	padding: 0 0.25em;
	font-size: 1.25em;
	border-bottom: 2px solid black;
}

h2 {
	font-size: 1em;
}

a, a.visited {
	color: blue;
	text-decoration: none;
}

input[type=submit] {
	color: black;
	background: white;
	border: 2px solid black;
	padding: 0.25em 1em;
	border-radius: 5px;
}

input[type=submit]:hover {
	color: white;
	background: black;
}

#loginform {
	margin: 2em auto;
	padding: 1em 1.25em;
	width: 15em;
	border-radius: 5px;
}

#loginform select {
	display: block;
	width: 9em;
	margin-bottom: 1em;
}

#loginform input[type=submit] {
	display: block;
}

#movielist-container {
	width: 49em;
	min-height: 42em;
}

#movielist {
	margin-top: 0.5em;
	table-layout: fixed;
	border-collapse: collapse;
	border: 2px black solid;
}

#movielist caption {
	padding: 0.25em;
	font-weight: bold;
}

#movielist th {
	border-bottom: 1px black solid;
}

#movielist tbody tr:hover {
	background-color: yellow;
}

#movielist td:first-child {
	text-align: center;
}

#movielist td:last-child {
	padding-left: 0.25em;
}

#rating-column {
	width: 9em;
}

#movie-name-column {
	width: 39em;
}

#movielist img {
	/* Get re-displayed via JS. */
	display: none;
}

#movielist input {
	/* Get hidden via JS. */
	margin: 0 0 0 2px;
	padding: 0;
}

#movielist .not-interested-button {
	margin-left: 0.25em;
	margin-right: 0.25em;
}

#movielist .remove-button {
	margin-left: 0.25em;
}

#pager {
	/* Gets re-displayed via JS. */
	display: none;
	margin: 0;
	font-size: 0.75em;
}

#page-numbers a, #page-numbers span {
	padding: 0 0.25em;
}

#page-numbers span {
	font-weight: bold;
}

#movie-details {
	position: fixed;
	top: 4.25em;
	right: 0.75em;
	width: 21.75em;
	height: 36.75em;
	border: none;
	overflow: auto;
}

#form-buttons {
	position: fixed;
	top: 41.5em;
	right: 0.75em;
	width: 21.75em;
	margin: 0;
}

#exit-button, #save-button {
	width: 5em;
	padding-left: 1.5em;
}

#exit-button {
	float: left;
	color: red;
	background: url(../images/cross.png) no-repeat left;
}

#exit-button:hover {
	color: white;
	background: url(../images/cross-hover.png) no-repeat left;
	background-color: red;
}

#save-button {
	float: right;
	color: green;
	background: url(../images/tick.png) no-repeat left;
}

#save-button:hover {
	color: white;
	background: url(../images/tick-hover.png) no-repeat left;
	background-color: green;
}

dl.tabular {
	width: 100%;
	overflow: hidden;
}

dl.tabular dt {
	float: left;
	clear: left;
	display: block;
	width: 5em;
	font-weight: bold;
	text-align: right;
}

dl.tabular dd {
	float: left;
	margin-left: 0.5em;
}

#movie-cover {
	display: block;
	max-width: 256px;
	max-height: 256px;
	margin: 0 auto;
}