body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.9em;
}

h1 {
	margin: 0;
	padding: .25em 0 0 .25em;
}

hr {
	border-style: solid;
}

#loginform {
	margin: 0 auto;
	width: 10em;
	text-align: center;
}
